:root {
	--pink: #CC4479;
	--seafoam: #61DAAB;
	--dark-grey: #4C4748;
	--light-grey: #85919C;
	--white: #F0F2EC;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-grey);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
	float: left;
	background: var(--light-grey);
	margin-right: 50px;
	list-style: none; 
}

li > a {
	text-decoration: none;
	display: block;
	position: relative;
	line-height: 40px;
	padding: 0 8px;
	color: var(--white);
	font-weight: bold;
}

li > a:before {
	content: '';
	position: absolute;
	border: 20px solid var(--dark-grey);
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: var(--light-grey);
	border-bottom-color: var(--light-grey);
	right: 100%;
	top: 0;
}

li > a:after {
	content: '';
	position: absolute;
	border: 20px solid var(--light-grey);
	border-right-color: transparent;
	border-bottom-color: transparent;
	left: 100%;
	top: 0;
}

li:first-child > a {
	background: var(--pink);
}

li:first-child > a:before {
	border-right-color: transparent;
	border-bottom-color: transparent;
}

li:first-child > a:after {
	border-top-color: var(--pink);
	border-left-color: var(--pink);
}

li:nth-child(2) > a:before {
	border-right-color: var(--dark-grey);
	border-bottom-color: var(--dark-grey);
}

li:nth-child(2) > a {
	color: var(--white);
	background: var(--dark-grey);
}

li:nth-child(2) > a:after {
	border-top-color: var(--dark-grey);
	border-left-color: var(--dark-grey);
}

li:last-child > a {
	background: var(--white);
	color: var(--seafoam);
}

li:last-child > a:before {
	border-right-color: var(--white);
	border-bottom-color: var(--white);
}

li:last-child > a:after {
	border: 0;
}

.full {
	margin: 0;
}

.nav {
	display: block;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.post {
	background-color: var(--light-grey);
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 2%;
	padding: 2%;
	color: var(--white);
}
